/rletter_example.pyg
/rletter_example.out
/rletter_example.bcf
/rletter_example.log
/rletter.log
/rletter_example.pdf
/rletter.pdf
/rletter_example.aux
/rletter.aux
/rletter_example.tex
/rletter_example.run.xml